//- Including username config dialog/modal
include ./usernameConfigDialog.jade

header.mdl-layout__header
  .mdl-layout__header-row
    // Title
    .mdl-layout-title Horae > #{title}
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    //Navigation. We hide it in small screens.
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link(href="/generated") Home
      a.mdl-navigation__link(onclick="redirectMyEvents()") My Events
      a.mdl-navigation__link(href="/generated/events/new") Create Event
      //Username Config button
      button.mdl-button.mdl-js-button.mdl-button--icon(onclick="openDialog()")
        i.material-icons settings
