<?php if($variables['isLoggedIn']) { ?>
    <h2>Hallo <?= $variables['currentUser']->getName(); ?>!</h2>
<?php }  else { ?>
    <form class="form-horizontal" method="post" action="">
        <fieldset>

            <!-- Form Name -->
            <legend>Login</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Name</label>
                <div class="col-md-10">
                    <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Passwort</label>
                <div class="col-md-10">
                    <input id="name" name="password" type="password" placeholder="Name" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <input class="btn btn-primary btn-block" type="submit" value="Einloggen">
                </div>
            </div>
        </fieldset>
    </form>
<?php }