<!DOCTYPE html>
<html>
<head lang="en">
    <!-- meta tags -->
    <title>php - <?= $variables['pageTitle'] ?></title>
</head>
<body>
<div class="container">
    <?php include(__DIR__.'/nostrap_navigation.phtml') ?>
    <?= $variables['pageContent'] ?>
</div>
</body>
</html>
